body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
}

header {
    position: relative;
    background: linear-gradient(0deg, #29282f, #e4e4e400);
    color: #333;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    position: relative;
    z-index: 1;
}

#headerCanvas {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    /* Ensures canvas doesn't intercept mouse events */
}

main {
    padding: 2rem 20%;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

#gallery ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#gallery li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #ccc;
}

#gallery li:last-child {
    border-bottom: none;
}

#gallery img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#gallery p {
    margin: 1rem 0 0;
    font-size: 1.1rem;
    color: #333;
}

#contact {
    margin-top: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input,
textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}